[submodule ".registry"]
	path = .registry
	url = https://github.com/plasmogenepi/plasmogenepi.r-universe.dev
	branch = HEAD
[submodule "DEploid"]
	path = DEploid
	url = https://github.com/DEploid-dev/DEploid-r
[submodule "MALECOT"]
	path = MALECOT
	url = https://github.com/bobverity/MALECOT
[submodule "McCOILR"]
	path = McCOILR
	url = https://github.com/OJWatson/McCOILR
[submodule "coiaf"]
	path = coiaf
	url = https://github.com/bailey-lab/coiaf
[submodule "dcifer"]
	path = dcifer
	url = https://github.com/eppicenter/dcifer
[submodule "isoRelate"]
	path = isoRelate
	url = https://github.com/bahlolab/isoRelate
[submodule "moire"]
	path = moire
	url = https://github.com/eppicenter/moire
[submodule "paneljudge"]
	path = paneljudge
	url = https://github.com/aimeertaylor/paneljudge
