[submodule ".registry"]
	path = .registry
	url = https://github.com/plasmogenepi/plasmogenepi.r-universe.dev
	branch = HEAD
[submodule "DEploid"]
	path = DEploid
	url = https://github.com/DEploid-dev/DEploid-r
[submodule "DRpower"]
	path = DRpower
	url = https://github.com/mrc-ide/DRpower
[submodule "FreqEstimationModel"]
	path = FreqEstimationModel
	url = https://github.com/aimeertaylor/FreqEstimationModel
[submodule "MALECOT"]
	path = MALECOT
	url = https://github.com/bobverity/MALECOT
[submodule "MIPanalyzer"]
	path = MIPanalyzer
	url = https://github.com/mrc-ide/MIPanalyzer
[submodule "McCOILR"]
	path = McCOILR
	url = https://github.com/OJWatson/McCOILR
[submodule "PGEhammer"]
	path = PGEhammer
	url = https://github.com/mrc-ide/PGEhammer
[submodule "PlasmoSim"]
	path = PlasmoSim
	url = https://github.com/mrc-ide/PlasmoSim
[submodule "Pv3Rs"]
	path = Pv3Rs
	url = https://github.com/aimeertaylor/Pv3Rs
[submodule "SIMPLEGEN"]
	path = SIMPLEGEN
	url = https://github.com/mrc-ide/SIMPLEGEN
[submodule "coiaf"]
	path = coiaf
	url = https://github.com/bailey-lab/coiaf
[submodule "dcifer"]
	path = dcifer
	url = https://github.com/eppicenter/dcifer
[submodule "dde"]
	path = dde
	url = https://github.com/mrc-ide/dde
	registered = false
[submodule "discent"]
	path = discent
	url = https://github.com/nickbrazeau/discent
[submodule "goodegg"]
	path = goodegg
	url = https://github.com/nickbrazeau/goodegg
	registered = false
[submodule "hierfstat"]
	path = hierfstat
	url = https://github.com/jgx65/hierfstat
[submodule "hmmibdr"]
	path = hmmibdr
	url = https://github.com/OJWatson/hmmibdr
[submodule "hrp2malaRia"]
	path = hrp2malaRia
	url = https://github.com/OJWatson/hrp2malaRia
[submodule "isoRelate"]
	path = isoRelate
	url = https://github.com/bahlolab/isoRelate
[submodule "magenta"]
	path = magenta
	url = https://github.com/OJWatson/magenta
[submodule "malaria.em"]
	path = malaria.em
	url = https://github.com/PlasmoGenEpi/malaria.em
[submodule "moimix"]
	path = moimix
	url = https://github.com/bahlolab/moimix
[submodule "moire"]
	path = moire
	url = https://github.com/eppicenter/moire
[submodule "odin"]
	path = odin
	url = https://github.com/mrc-ide/odin
	registered = false
[submodule "paneljudge"]
	path = paneljudge
	url = https://github.com/aimeertaylor/paneljudge
[submodule "pixelate"]
	path = pixelate
	url = https://github.com/aimeertaylor/pixelate
[submodule "pixelate.fork"]
	path = pixelate.fork
	url = https://github.com/bobverity/pixelate
[submodule "polySimIBD"]
	path = polySimIBD
	url = https://github.com/nickbrazeau/polySimIBD
[submodule "variantstring"]
	path = variantstring
	url = https://github.com/mrc-ide/variantstring
