[submodule ".registry"]
	path = .registry
	url = https://github.com/plasmogenepi/plasmogenepi.r-universe.dev
	branch = HEAD
[submodule "dcifer"]
	path = dcifer
	url = https://github.com/eppicenter/dcifer
[submodule "malecot"]
	path = malecot
	url = https://github.com/bobverity/MALECOT
[submodule "moire"]
	path = moire
	url = https://github.com/eppicenter/moire
